<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>补办名单</title>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					<small>补办名单</small>
				</h1>
			</div>
        </div>
    </div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li>
					 <a href="index">首页</a>
				</li>
				<li class="active">
					 <a>其他</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="lookth">查看名单</a>
						</li>
						<li class="divider">
						</li>
						<li>
							 <a href="#">关于我们</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
{% for person in mis %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							姓名
						</th>
						<th>
							学号
						</th>
						<th>
							身份证号
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="success">
						<td>
							{{ person.id }}
						</td>
						<td>
							{{ person.姓名 }}
						</td>
						<td>
							{{ person.学号 }}
						</td>
						<td>
							{{ person.身份证号 }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
    {% empty %}
    <br/><br/>
    暂无。
{% endfor %}
</div>
</body>
</html>